* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  backdrop-filter: blur(5px);
}

.div-text {
  position: relative;
  height: 100%;
  padding: 9rem 2rem;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.835),
      rgba(8, 33, 63, 0.548)
    ),
    url(images/store-4156934_1280.png);
  background-size: cover;
  background-position: center;
  /* background: hsla(213, 77%, 14%, 1);

  background: hsla(213, 77%, 14%, 1);

  background: linear-gradient(
    45deg,
    hsla(213, 77%, 14%, 1) 20%,
    hsla(202, 27%, 45%, 1) 100%
  );

  background: -moz-linear-gradient(
    45deg,
    hsla(213, 77%, 14%, 1) 20%,
    hsla(202, 27%, 45%, 1) 100%
  );

  background: -webkit-linear-gradient(
    45deg,
    hsla(213, 77%, 14%, 1) 20%,
    hsla(202, 27%, 45%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#08203E", endColorstr="#557C93", GradientType=1 ); */
}

.button {
  background-color: rgb(46, 86, 112);
}

.content-box {
  width: 80%;
  height: 80%;
  box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.1);
}

.form {
  height: 100%;
  padding: 1rem 2rem;
}

.login-form {
  padding: 9rem 2rem;
  box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.1);
}

.sign-in-hidden {
  display: none !important;
}

.sign-in-hidden-text {
  margin: unset !important;
}

@media (max-width: 850px) {
  .div-text {
    display: none !important;
  }

  .sign-in-hidden {
    display: block !important;
  }

  .content-box {
    color: white !important;

    background: hsla(213, 77%, 14%, 1);

    background: hsla(213, 77%, 14%, 1);

    background: linear-gradient(
      45deg,
      hsla(213, 77%, 14%, 1) 20%,
      hsla(202, 27%, 45%, 1) 100%
    );

    background: -moz-linear-gradient(
      45deg,
      hsla(213, 77%, 14%, 1) 20%,
      hsla(202, 27%, 45%, 1) 100%
    );

    background: -webkit-linear-gradient(
      135deg,
      hsla(213, 77%, 14%, 1) 20%,
      hsla(202, 27%, 45%, 1) 100%
    );

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#08203E", endColorstr="#557C93", GradientType=1 );
  }
}
